@import 'main';

.pageDark {
  @include flex-ctr-ctr;
  height: 100vh;
  background: $background-dark;
}

.pageLight {
  @extend .pageDark;
  background: $background-light;
}

.containerDark {
  @include flex-col-ctr-ctr;
  position: relative;
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  background: $background-dark;
  overflow: hidden;
  z-index: 1;

  @include above-1024-px {
    flex-direction: row;
  }
}

.containerLight {
  @extend .containerDark;
  background: $background-light;
}

.borderDark {
  @include corner-borders-80-dark;
  height: 74vh;
  background: $background-dark;
}

.borderLight {
  @extend .borderDark;
  @include corner-borders-80-light;
  background: $background-light;
}

.about {
  @include flex-ctr-start;
  flex-direction: column;
  height: 40vh;
  width: 80vw;

  @include above-1024-px {
    height: 52.5vh;
    width: 40vw;

    @include transition(0.75s, null);
  }
}

.titleDark {
  @include flex-ctr-ctr;
  height: 10vh;
  width: 80vw;
  margin: 0 auto;
  color: $title-color-dark;
  font-size: 5vmin;

  @include above-1024-px {
    justify-content: flex-start;
    height: 12.5vh;
    width: 40vw;

    @include transition(0.75s, null);
  }
}

.titleLight {
  @extend .titleDark;
  color: $title-color-light;
}

.content {
  @include flex-col-ctr-ctr;
  height: 30vh;
  width: 50vw;
  margin: 0 auto;

  @include above-480-px {
    width: 60vw;
  }

  @include above-1024-px {
    height: 40vh;
    width: 40vw;
  }
}

.pDark {
  margin: 0.5vh 2.5vw;
  font-size: 2vmin;
  color: $text-color-dark;

  @include above-1024-px {
    margin: 2.5vh 2.5vw 2.5vh 0;

    @include transition(0.75s, null);
  }
}

.pLight {
  @extend .pDark;
  color: $text-color-light;
}

.highlightDark {
  color: $title-color-dark;
}

.highlightLight {
  color: $accent-3-light;
}

.skills {
  @include flex-ctr-ctr;
  height: 20vh;
  width: 80vw;
  transform: translateY(0%);

  @include above-1024-px {
    height: 52.5vh;
    width: 20vw;

    @include transition(0.75s, 0.25s);
  }
}
