@import 'main';

.skills {
  @include flex-col-ctr-ctr;
}

.titleDark {
  @include flex-ctr-ctr;
  height: 5vh;
  width: 60vw;
  margin-top: 5vh;
  margin-bottom: -0.5vh;
  color: $title-color-dark;
  font-size: 2.25vmin;

  @include above-1024-px {
    justify-content: flex-start;
    height: 5vh;
    width: 20vw;
    margin-bottom: -2.5vmin;
  }
}

.titleLight {
  @extend .titleDark;
  color: $title-color-light;
}

.ulDark,
.ulLight {
  display: inline-block;
  height: 20vh;
  width: 40vw;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-left: 2vw;

  @include above-1024-px {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    width: 20vw;
    margin-left: 2.5vw;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

.ulDark > * {
  color: $text-color-dark;
  font-size: 2vmin;
  margin: 0 1vmin;
}

.ulLight > * {
  color: $text-color-light;
  font-size: 2vmin;
  margin: 0 1vmin;
}
