// Dark Theme:
$background-dark: #011627;
$text-color-dark: #f9f4f5;
$title-color-dark: #c8b8db;
$accent-1-dark: #70587c;
$button-background-dark: #171738;
$theme-button-dark: #70587c;

// Light Theme:
$background-light: #c8b8db;
$text-color-light: #000000;
$title-color-light: #291528;
$accent-1-light: #70587c;
$accent-2-light: #9e829c;
$accent-3-light: #f9f4f5;
$theme-button-light: #c8b8db;
// $button-background-dark: ;
