@import 'globals';
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;
$extra-large-width: 1200px;
$corner-width: 0.2vw;
$corner-size: 10vmin;
$color-border: $accent-1-dark;
$color-background: $background-dark;

@mixin below-480-px {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin below-768-px {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin between-480-768-px {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin above-480-px {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin below-1024-px {
  @media (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin between-768-1024-px {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin above-768-px {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin below-1024-px {
  @media (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin between-1024-1200-px {
  @media (min-width: #{$large-width}) and (max-width: #{$extra-large-width - 1px}) {
    @content;
  }
}

@mixin above-1024-px {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin above-1200-px {
  @media (min-width: #{$extra-large-width}) {
    @content;
  }
}

@mixin corner-borders-60() {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: $corner-width solid $color-border;
  background-color: $color-background;
  width: 60vw;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: -$corner-width;
    bottom: -$corner-width;
    left: $corner-size;
    right: $corner-size;
    background-color: $color-background;
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: $corner-size;
    bottom: $corner-size;
    left: -$corner-width;
    right: -$corner-width;
    background-color: $color-background;
  }
}

@mixin corner-borders-80() {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: $corner-width solid $color-border;
  background-color: $color-background;
  width: 80vw;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: -$corner-width;
    bottom: -$corner-width;
    left: $corner-size;
    right: $corner-size;
    background-color: $color-background;
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: $corner-size;
    bottom: $corner-size;
    left: -$corner-width;
    right: -$corner-width;
    background-color: $color-background;
  }
}

@mixin corner-borders-100() {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: $corner-width solid $color-border;
  background-color: $color-background;
  width: 100vw;

  &::before {
    content: '';
    z-index: 0;
    position: absolute;
    top: -$corner-width;
    bottom: -$corner-width;
    left: $corner-size;
    right: $corner-size;
    background-color: $color-background;
  }

  &::after {
    content: '';
    z-index: 0;
    position: absolute;
    top: $corner-size;
    bottom: $corner-size;
    left: -$corner-width;
    right: -$corner-width;
    background-color: $color-background;
  }
}
