@import 'globals';
@import 'mixins';

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-dark;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 75vh;
  width: 100vw;
  max-width: 100%;
  background: $background-dark;
  overflow: hidden;
  z-index: 1;

  @include above-1024-px {
    flex-direction: row;
  }
}

.border {
  @include corner-borders-80;
  height: 74vh;
}

.about,
.title {
  transform: translateY(0%);

  @include above-1024-px {
    transform: translateY(50%);
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 40vh;
  width: 80vw;

  @include above-1024-px {
    height: 52.5vh;
    width: 40vw;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80vw;
  margin: 0 auto;
  color: $title-color-dark;
  font-size: 5vmin;

  @include above-1024-px {
    justify-content: flex-start;
    height: 12.5vh;
    width: 40vw;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 50vw;
  margin: 0 auto;

  @include above-480-px {
    width: 60vw;
  }

  @include above-1024-px {
    height: 40vh;
    width: 40vw;
  }
}

.p {
  margin: 0.5vh 2.5vw;
  font-size: 2vmin;
  color: $text-color-dark;

  @include above-1024-px {
    margin: 2.5vh 2.5vw 2.5vh 0;
  }
}

.highlight {
  color: $title-color-dark;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80vw;
  transform: translateY(0%);

  @include above-1024-px {
    height: 52.5vh;
    width: 20vw;
    transform: translateY(50%);
    -webkit-transition: all 0.75s 0.25s ease;
    -moz-transition: all 0.75s 0.25s ease;
    -ms-transition: all 0.75s 0.25s ease;
    -o-transition: all 0.75s 0.25s ease;
    transition: all 0.75s 0.25s ease;
  }
}
