@import 'globals';
@import 'mixins';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  width: 100vw;
  background-color: $dark-blue;
}

.contact > * {
  margin-left: 20vw;
  margin-right: 20vw;
}
