@import 'globals';
@import 'mixins';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  width: 100vw;
  background-color: $background-dark;
}

.contact > * {
  margin: 0 20vw;
}
