@import 'main';

.page {
  @include flex-ctr-ctr;
  height: 155vh;
  background: $background-dark;

  @include above-1170-px {
    height: 210vh;
  }
}

.exp {
  @include flex-col-ctr-ctr;
  position: relative;
  height: 130vh;
  width: 100vw;
  max-width: 100%;
  background: $background-dark;
  z-index: 1;
  overflow: hidden;

  @include above-1170-px {
    height: 185vh;
  }
}

.border {
  @include corner-borders-80;
  height: 129vh;

  @include above-1170-px {
    height: 184vh;
  }
}

.title {
  @include flex-ctr-ctr;
  height: 15vh;
  width: 80vw;
  margin: 5vh 10vw 5vh 10vw;
  color: $title-color-dark;
  font-size: 5vmin;
  font-weight: 0;
  z-index: 1;

  @include above-480-px {
    margin: 2.5vh 20vw 0 20vw;
  }

  @include above-1024-px {
    margin: 0 10vw;
    justify-content: flex-start;
    margin-left: 32.5vw;

    @include transition(0.75s, 0.25s);
  }
}

.timeline {
  height: 100vh;
  width: 60vw;
  margin: 0 10vw 7.5vh 10vw;
  z-index: 1;
  overflow-y: scroll;

  @include above-1024-px {
    @include transition(0.75s, 0.25s);
  }

  @include above-1170-px {
    height: 150vh;
  }
}

.timeline::-webkit-scrollbar {
  width: 0.5vw;
}

.timeline::-webkit-scrollbar-track {
  background: $background-dark;
  border-radius: 5vmin;
}

.timeline::-webkit-scrollbar-thumb {
  background: $accent-1-dark;
  border-radius: 5vmin;
}

.timeline::-webkit-scrollbar-thumb:hover {
  background: $title-color-dark;
}
