@import 'globals';
@import 'mixins';

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $background-dark;
}

.title {
  align-self: flex-start;
  margin: 0 20vw;
  color: $title-color-dark;
  font-size: 5vmin;
}

.timeline {
  margin: 5vh 20vw;
}
