@import 'globals';
@import 'mixins';

.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $background-dark;
  border-top: 0.2vmin solid $text-color-dark;
  border-bottom: 0.2vmin solid $text-color-dark;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15vh;
  width: 60vw;
  margin: 0 20vw;
  color: $title-color-dark;
  font-size: 5vmin;
  transform: translateY(50%);
  -webkit-transition: all 0.75s 0.25s ease;
  -moz-transition: all 0.75s 0.25s ease;
  -ms-transition: all 0.75s 0.25s ease;
  -o-transition: all 0.75s 0.25s ease;
  transition: all 0.75s 0.25s ease;
}

.timeline {
  margin: 0 20vw 7.5vh 20vw;
  transform: translateY(50%);
  -webkit-transition: all 0.75s 0.25s ease;
  -moz-transition: all 0.75s 0.25s ease;
  -ms-transition: all 0.75s 0.25s ease;
  -o-transition: all 0.75s 0.25s ease;
  transition: all 0.75s 0.25s ease;
}
