@import 'globals';
@import 'mixins';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  height: 25vh;
  bottom: 0;
  border-top: 0.1vmin solid $extra-light-purple;
}

.copyright {
  color: $purple;
}
