@import 'globals';
@import 'mixins';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  height: 25vh;
  bottom: 0;
  border-top: 0.1vmin solid $text-color-dark;
}

.copyright {
  color: $accent-1-dark;
}
