@import 'globals';
@import 'mixins';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100vw;
  max-width: 100%;
  bottom: 0;
  background-color: $background-dark;
}

.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 20vh;
  width: 100vw;
  padding-top: 1vh;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  font-size: 2vmin;
  color: $text-color-dark;
}
