@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Lora', serif;
  -webkit-tap-highlight-color: transparent;
}

// Dark Theme:
$background-dark: #011627;
$text-color-dark: #f9f4f5;
$title-color-dark: #c8b8db;
$accent-1-dark: #70587c;
$button-background-dark: #171738;

// Light Theme:
$background-light: #f1f7ed;
$text-color-light: #050404;
$title-color-light: #54494b;
$accent-1-light: #a3a09c;
// $button-background-dark: ;

.sectionTitle {
  color: $accent-1-dark;
  font-size: 5vmin;
}
