.body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

// Global variables
// Dark Theme:
$black: #050404;
$extra-dark-purple: #171738;
$dark-purple: #502f4c;
$purple: #70587c;
$light-purple: #c8b8db;
$extra-light-purple: #f9f4f5;

// Light Theme:

// TODO: add elements that need global styling (i.e. button, input field, etc.)
