.body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

// Global variables
// Dark Theme:
$black: #050404;
$light-purple: #adaabf;

// Light Theme:

// TODO: add elements that need global styling (i.e. button, input field, etc.)
