@import 'globals';
@import 'mixins';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: $background-dark;
  overflow: hidden;
}

.hero > h1,
.hero > h3,
.hero > h5,
.hero > p {
  margin: 0 10vw;
}

.hero > p {
  margin: 5vh 10vw 0 10vw;
}

.greeting {
  color: $title-color-dark;
  font-size: 5vmin;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1vmin;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.title {
  color: $text-color-dark;
  font-size: 12.5vmin;
  font-weight: 600;
  margin: 0;
  -webkit-transition: all 1.25s 0.25s ease;
  -moz-transition: all 1.25s 0.25s ease;
  -ms-transition: all 1.25s 0.25s ease;
  -o-transition: all 1.25s 0.25s ease;
  transition: all 1.25s 0.25s ease;
}

.subTitle {
  color: $accent-1-dark;
  font-size: 10vmin;
  font-weight: 400;
  margin: 0;
  -webkit-transition: all 1.25s 0.5s ease;
  -moz-transition: all 1.25s 0.5s ease;
  -ms-transition: all 1.25s 0.5s ease;
  -o-transition: all 1.25s 0.5s ease;
  transition: all 1.25s 0.5s ease;
}

.summary {
  color: $text-color-dark;
  font-size: 2.5vmin;
  margin: 10vmin;
  -webkit-transition: all 1s 0.75s ease;
  -moz-transition: all 1s 0.75s ease;
  -ms-transition: all 1s 0.75s ease;
  -o-transition: all 1s 0.75s ease;
  transition: all 1s 0.75s ease;
}

.highlight {
  color: $title-color-dark;
}
