@import 'main';

.hero {
  @include flex-ctr-start;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: $background-dark;
  overflow: hidden;
}

.hero > h1,
.hero > h3,
.hero > h5,
.hero > p {
  margin: 0 10vw;
}

.hero > p {
  margin: 5vh 10vw 0 10vw;
}

.greeting {
  color: $title-color-dark;
  font-size: 5vmin;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1vmin;

  @include transition(1s, null);
}

.title {
  color: $text-color-dark;
  font-size: 12.5vmin;
  font-weight: 600;
  margin: 0;

  @include transition(1.25s, 0.25s);
}

.subTitle {
  color: $accent-1-dark;
  font-size: 10vmin;
  font-weight: 400;
  margin: 0;

  @include transition(1.25s, 0.5s);
}

.summary {
  color: $text-color-dark;
  font-size: 2.5vmin;
  margin: 10vmin;

  @include transition(1.25s, 0.75s);
}

.highlight {
  color: $title-color-dark;
}
