@import 'globals';
@import 'mixins';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: $background-dark;
}

.hero > h1,
.hero > h3,
.hero > h5,
.hero > p {
  margin-left: 10vw;
  margin-right: 10vw;
}

.greeting {
  color: $title-color-dark;
  font-size: 5vmin;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1vmin;
}

.title {
  color: $text-color-dark;
  font-size: 12.5vmin;
  font-weight: 600;
  margin: 0;
}

.subTitle {
  color: $accent-1-dark;
  font-size: 10vmin;
  font-weight: 400;
  margin: 0;
}

.summary {
  color: $text-color-dark;
  font-size: 2.5vmin;
}

.highlight {
  color: $title-color-dark;
}
