@import 'globals';
@import 'mixins';

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: fade 0.4s ease-in forwards;
  background: $background-dark;

  @keyframes fade {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vmin;
  width: 10vmin;
  margin: 0 auto;
  animation: rotation 1.53s infinite linear;

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
