@import 'color-themes';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

// TODO: style scrollbar;
// ? overflow-y: scroll ===> scrollbar is styled but transforms/translates break;
.body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Lora', serif;
  // overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

.body::-webkit-scrollbar {
  width: 0.5vw;
}

.body::-webkit-scrollbar-track {
  background: $background-dark;
}

.body::-webkit-scrollbar-thumb {
  background: $accent-1-dark;
  border-radius: 5vmin;
}

.body::-webkit-scrollbar-thumb:hover {
  background: $title-color-dark;
}
