@import 'main';

.navbar {
  @include flex-ctr-ctr;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background: $background-dark;
  z-index: 2;
  overflow-x: hidden;

  @include transition(0.75s, null);

  @include above-768-px {
    height: 10vh;
    z-index: 1;
  }
}

.ul {
  @include flex-ctr-ctr;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  @include flex-ctr-ctr;
  height: 5vh;
  width: 5vw;
  position: absolute;
  top: 2.75vh;
  left: 5vw;
  z-index: 3;

  @include transition(0.75s, null);

  @include above-768-px {
    height: 6.5vh;
    width: 6.5vw;
    top: 1.75vh;
  }

  @include below-1000-px-height {
    height: 5vh;
    width: 5vw;
    top: 2.75vh;
  }
}

.active {
  color: $text-color-dark;
}

.about,
.projects,
.experience,
.contact {
  @include flex-ctr-ctr;
  width: auto;
  margin: 0 2vmin;
  font-size: 2vmin;
  text-decoration: none;
  text-transform: uppercase;
  color: $title-color-dark;

  &:hover {
    color: $text-color-dark;
    cursor: pointer;
  }

  @include below-768-px {
    display: none;
  }
}

.about {
  @include transition(0.75s, 0.4s);
}

.projects {
  @include transition(0.75s, 0.6s);
}

.experience {
  @include transition(0.75s, 0.8s);
}

.contact {
  @include transition(0.75s, 1s);
}

.themeButton {
  @include transition(0.75s, 1.2s);
  margin-left: 1.5vw;
  margin-right: 5vw;

  @include below-768-px {
    display: none;
  }
}

.sidebarButton {
  @include above-768-px {
    display: none;
  }
}
