@import 'globals';
@import 'mixins';

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  max-width: 99%;
  background-color: $background-dark;
  overflow-x: hidden;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;

  @include above-768-px {
    z-index: 1;
  }
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  position: absolute;
  top: 1.5vmin;
  left: 5vw;
  z-index: 3;
  transform: translateY(-200%);
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.about,
.projects,
.experience,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 2vmin;
  font-size: 2vmin;
  text-decoration: none;
  text-transform: uppercase;
  color: $title-color-dark;

  &:hover {
    color: $text-color-dark;
  }

  @include below-768-px {
    display: none;
  }
}

.about {
  transform: translateY(-300%);
  -webkit-transition: all 0.75s 0.4s ease;
  -moz-transition: all 0.75s 0.4s ease;
  -ms-transition: all 0.75s 0.4s ease;
  -o-transition: all 0.75s 0.4s ease;
  transition: all 0.75s 0.4s ease;
}

.projects {
  transform: translateY(-300%);
  -webkit-transition: all 0.75s 0.6s ease;
  -moz-transition: all 0.75s 0.6s ease;
  -ms-transition: all 0.75s 0.6s ease;
  -o-transition: all 0.75s 0.6s ease;
  transition: all 0.75s 0.6s ease;
}

.experience {
  transform: translateY(-300%);
  -webkit-transition: all 0.75s 0.8s ease;
  -moz-transition: all 0.75s 0.8s ease;
  -ms-transition: all 0.75s 0.8s ease;
  -o-transition: all 0.75s 0.8s ease;
  transition: all 0.75s 0.8s ease;
}

.contact {
  transform: translateY(-300%);
  -webkit-transition: all 0.75s 1s ease;
  -moz-transition: all 0.75s 1s ease;
  -ms-transition: all 0.75s 1s ease;
  -o-transition: all 0.75s 1s ease;
  transition: all 0.75s 1s ease;
}

.themeButton {
  margin-left: 2vw;
  transform: translateY(-300%);
  -webkit-transition: all 0.75s 1.2s ease;
  -moz-transition: all 0.75s 1.2s ease;
  -ms-transition: all 0.75s 1.2s ease;
  -o-transition: all 0.75s 1.2s ease;
  transition: all 0.75s 1.2s ease;
}
