@import 'globals';
@import 'mixins';

.page {
  height: 217vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;

  @include above-480-px {
    height: 205vh;
  }

  @include above-768-px {
    height: 192vh;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 192vh;
  width: 100vw;
  max-width: 100%;
  background-color: $background-dark;
  overflow: hidden;

  @include above-480-px {
    height: 180vh;
  }

  @include above-768-px {
    height: 167vh;
  }
}

.border {
  @include corner-borders-80;
  height: 191vh;
  margin-left: 9.75vw;

  @include above-480-px {
    height: 179vh;
  }

  @include above-768-px {
    height: 166vh;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 60vw;
  margin: 0 20vw;
  color: $title-color-dark;
  font-size: 5vmin;
  transform: translateY(0%);

  @include above-480-px {
    justify-content: flex-start;
  }

  @include above-768-px {
    margin-top: -10vh;
  }

  @include above-1024-px {
    transform: translateY(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 160vh;
  width: 80vw;
  margin: 0 10vw;
  transform: translateY(0%);

  @include above-480-px {
    height: 200vh;
    width: 61vw;
    margin: 0 20vw 5vh 20vw;
  }

  @include above-768-px {
    height: 130vh;
    width: 60vw;
    margin: 0 20vw;
  }

  @include above-1024-px {
    transform: translateY(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
