@import 'globals';
@import 'mixins';

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  width: 100vw;
  background-color: $background-dark;
}

.projects > * {
  margin-left: 10vw;
  margin-right: 10vw;
}

.title {
  color: $title-color-dark;
  font-size: 5vmin;
}
