@import 'globals';
@import 'mixins';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 2.5vh;
  height: 60vh;
  width: 60vw;
  border: 0.1vmin solid $text-color-dark;

  @include above-480-px {
    width: 29.5vw;
    margin: 2vh auto;
  }

  @include above-768-px {
    height: 30vh;
    width: 60vw;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30vh;
  width: 60vw;
  margin-top: -30vh;
  opacity: 0.8;
  background: $background-dark;

  &:hover {
    opacity: 0.4;
    cursor: pointer;
  }

  @include above-480-px {
    height: 30vh;
    width: 29.5vw;
  }

  @include above-768-px {
    height: 30vh;
    width: 30vw;
    margin-top: 0;
    margin-left: -30vw;
    background: none;
  }
}

.image > * {
  filter: brightness(100%);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30vh;
  width: 60vw;
  bottom: 0;

  @include above-480-px {
    height: 30vh;
    width: 30vw;
  }

  @include above-768-px {
    top: 0;
    right: 0;
    opacity: 1;
    background: $text-color-dark;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 45vw;
  margin: 0;
  font-size: 3.5vmin;
  color: $title-color-dark;

  @include above-480-px {
    height: 7.5vh;
    width: 30vw;
  }

  @include above-768-px {
    color: $accent-1-dark;
  }
}

.description {
  display: flex;
  align-items: center;
  text-align: center;
  height: 12.5vh;
  width: 45vw;
  margin: 0;
  font-size: 2vmin;
  color: $text-color-dark;

  @include above-480-px {
    width: 25vw;
  }

  @include above-768-px {
    color: $background-dark;
  }
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 7vh;
  width: 45vw;
  margin: 0;
  color: $text-color-dark;
  font-size: 1.5vmin;

  @include above-480-px {
    width: 25vw;
  }

  @include above-768-px {
    color: $background-dark;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 3vh;
  width: 45vw;

  @include above-480-px {
    width: 29vw;
  }
}

.github {
  color: $title-color-dark;
  margin-left: 0.25vw;

  &:hover {
    color: $button-background-dark;
  }

  @include above-768-px {
    color: $accent-1-dark;
  }
}

.demo {
  color: $title-color-dark;
  margin-right: 0.25vw;

  &:hover {
    color: $button-background-dark;
  }

  @include above-768-px {
    color: $background-dark;
  }
}
