@import 'main';

.sidebarButton {
  display: inline;
  position: absolute;
  top: 1vh;
  right: 5vw;
  z-index: 3;
  cursor: pointer;

  @include transition(0.75s, 0.6s);

  @include above-768-px {
    display: none;
  }
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background: $title-color-dark;
  margin: 10px auto;

  @include transition(0.75s, null);
}

.topBarActive {
  @extend .bar;
  @include sidebar-button-transition(15px, 45deg);
}

.midBarActive {
  @extend .bar;
  width: 0;
}

.botBarActive {
  @extend .bar;
  @include sidebar-button-transition(-15px, -45deg);
}
