@import 'main';

.sidebar {
  @include flex-ctr-ctr;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  max-width: 99%;
  background: $background-dark;
  overflow-x: hidden;
  z-index: 2;

  @include transition(1s, null);

  @include above-768-px {
    display: none;
  }
}

.nav {
  margin: 0 5vw;
}

.ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about,
.projects,
.experience,
.contact,
.themeButton {
  @include flex-ctr-ctr;
  margin: 5vmin auto;
  font-size: 10vmin;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $title-color-dark;

  &:hover {
    color: $text-color-dark;
  }
}

.about {
  display: inline-block;
  @include transition(0.5s, 0.2s);
}

.projects {
  display: inline-block;
  @include transition(0.5s, 0.3s);
}

.experience {
  display: inline-block;
  @include transition(0.5s, 0.4s);
}

.contact {
  display: inline-block;
  @include transition(0.5s, 0.5s);
}

.themeButton {
  display: inline-block;
  @include transition(0.5s, 0.6s);
}
