@import 'globals';
@import 'mixins';

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $title-color-dark;
  font-size: 2.25vmin;

  @include tablet-below {
    margin-bottom: 0;
  }
}

.ul {
  display: inline-block;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-left: 2vw;
}

.ul > * {
  color: $text-color-dark;
  font-size: 2vmin;
  margin: 0 1vmin;
}
