@import 'globals';
@import 'mixins';

// TODO: fix tablet/laptop content spacing (content shouldn't be in line with corner borders)

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include laptop-above {
    margin-left: 10vw;
  }
}

// TODO: fix skills (margins & overflow) for mobile/tablet view
// TODO: make title one line on mobile/tablet view

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 60vw;
  margin-top: 5vh;
  margin-bottom: -0.5vh;
  color: $title-color-dark;
  font-size: 2.25vmin;

  @include laptop-above {
    justify-content: flex-start;
    margin-top: 5vh;
    margin-bottom: 0;
  }

  @include laptop-above {
    height: 5vh;
    width: 20vw;
    margin-bottom: -2.5vmin;
  }
}

.ul {
  display: inline-block;
  height: 20vh;
  width: 40vw;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin-left: 2vw;

  @include laptop-above {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    width: 20vw;
    margin-left: 2.5vw;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
}

.ul > * {
  color: $text-color-dark;
  font-size: 2vmin;
  margin: 0 1vmin;
}
