@import 'globals';
@import 'mixins';

$toggle-width-below-768: 10vmin;
$toggle-height-below-768: 5vmin;
$toggle-padding-below-768: 1vmin;
$thumb-dimensions-below-768: calc(
  ($toggle-height-below-768 - $toggle-padding-below-768) * 1.3
);
$toggle-width-above-768: 6vmin;
$toggle-height-above-768: 3vmin;
$toggle-padding-above-768: 0.5vmin;
$thumb-dimensions-above-768: calc(
  ($toggle-height-above-768 - $toggle-padding-above-768) * 1.2
);

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5vmin;
  line-height: 1;
  width: $toggle-width-below-768;
  height: $toggle-height-below-768;
  padding: $toggle-padding-below-768;
  border: 0;
  border-radius: calc($toggle-width-below-768 / 2);
  cursor: pointer;
  background: $text-color-dark;
  transition: background 0.25s ease-in-out;

  @include above-768-px {
    width: $toggle-width-above-768;
    height: $toggle-height-above-768;
    padding: $toggle-padding-above-768;
    border-radius: calc($toggle-width-above-768 / 2);
  }
}

.dark {
  position: absolute;
  height: $thumb-dimensions-below-768;
  width: $thumb-dimensions-below-768;
  top: $toggle-padding-below-768;
  left: $toggle-padding-below-768;
  background: $accent-1-dark;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out;
  transform: translate3d(
    -calc($toggle-width-below-768 - $toggle-height-below-768),
    0,
    0
  );

  @include above-768-px {
    height: $thumb-dimensions-above-768;
    width: $thumb-dimensions-above-768;
    top: $toggle-padding-above-768;
    left: $toggle-padding-above-768;
    transform: translate3d(
      -calc($toggle-width-above-768 - $toggle-height-above-768),
      0,
      0
    );
  }
}

.light {
  position: absolute;
  height: $thumb-dimensions-below-768;
  width: $thumb-dimensions-below-768;
  top: $toggle-padding-below-768;
  left: $toggle-padding-below-768;
  background: $accent-1-light;
  border-radius: 50%;
  transition: transform 0.25s ease-in-out;
  transform: translate3d(
    calc($toggle-width-below-768 - $toggle-height-below-768),
    0,
    0
  );

  @include above-768-px {
    height: $thumb-dimensions-above-768;
    width: $thumb-dimensions-above-768;
    top: $toggle-padding-above-768;
    left: $toggle-padding-above-768;
    transform: translate3d(
      -calc($toggle-width-above-768 - $toggle-height-above-768),
      0,
      0
    );
  }
}
