@import 'main';

.date {
  color: #fff;
}

.title {
  margin: 0;
  font-size: 3vmin;
  color: $background-dark;
}

.location {
  margin: 0.5vmin 0 0 0;
  font-size: 1.5vmin;
  color: $button-background-dark;
}

.li {
  font-size: 1.75vmin;
  color: $background-dark;
}

.description {
  font-size: 2vmin;
  color: $background-dark;
}
